body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: red;
    font-weight: 500;
}

.main {
    padding: 10px;
    margin: 10px;
}

.button-row {
    margin-bottom: 5px;
    margin-top: 5px;
}