{% extends 'base.html' %}

{% block title %}{{ post.title}}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                <h1 class="card-title">{{ post.title }}</h1>
                <h4 class="card-subtitle mb-2 text-muted">
                    By: {{ post.author }} | {{ post.created_at }}
                </h4>
                <p class="card-text">{{ post.body }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row button-row">
        <div class="col-md-10"></div>
            <a class="btn btn-primary" href="{% url 'post_edit' post.id %}" style="width: 100%;">
                Edit
            </a>
        </div>
    </div>
    <div class="row button-row">
        <div class="col-md-10"></div>
            <a class="btn btn-warning" href="{% url 'post_delete' post.id %}" style="width: 100%;"> 
                Delete
            </a>
        </div>
    </div>
    {% endif %}

{% endblock content %}